In [1]:
import pandas as pd

In [66]:
# From http://www.iihs.org/iihs/topics/t/general-statistics/fatalityfacts/overview-of-fatality-facts#Age-and-gender
# Motor vehicle crash deaths per 100,000 people by age and gender, 2015
# Rate = (Deaths * 100000) / Population 
# *Total includes other and/or unknowns for both Age and Gener
# Desired output is a JSON object with mapping from Age and Gender selections onto deaths
# This should also handle aggregated statistics
df = pd.read_csv('age_gender.csv')
# Convert Population, Deaths and Rate into floats
for index, row in df[1:].iterrows():
    for key in df.keys()[1:]:
        df[key][index] = float(df[key][index])

In [116]:
df

,Age,Male,Male.1,Male.2,Female,Female.1,Female.2,Total,Total.1,Total.2
0,NaN,Population,Deaths,Rate,Population,Deaths,Rate,Population,Deaths,Rate
1,<13,2.69382e+07,520,1.9,2.58089e+07,417,1.6,5.27471e+07,938,1.8
2,13-15,6.39191e+06,250,3.9,6.12752e+06,140,2.3,1.25194e+07,391,3.1
3,16-19,8.62488e+06,1538,17.8,8.23428e+06,786,9.5,1.68592e+07,2324,13.8
4,20-24,1.16679e+07,3095,26.5,1.10715e+07,1109,10,2.27393e+07,4205,18.5
5,25-29,1.14094e+07,2702,23.7,1.10522e+07,824,7.5,2.24616e+07,3527,15.7
6,30-34,1.08897e+07,1991,18.3,1.07859e+07,762,7.1,2.16756e+07,2754,12.7
7,35-39,1.01734e+07,1789,17.6,1.02012e+07,625,6.1,2.03746e+07,2414,11.8
8,40-44,1.00302e+07,1654,16.5,1.0185e+07,583,5.7,2.02152e+07,2238,11.1
9,45-49,1.03349e+07,1722,16.7,1.05189e+07,634,6,2.08538e+07,2356,11.3
10,50-54,1.09638e+07,2119,19.3,1.13705e+07,780,6.9,2.23343e+07,2900,13
11,55-59,1.05976e+07,1960,18.5,1.12104e+07,677,6,2.18079e+07,2638,12.1
12,60-64,9.11718e+06,1592,17.5,9.9527e+06,555,5.6,1.90699e+07,2149,11.3
13,65-69,7.59619e+06,1252,16.5,8.47128e+06,546,6.4,1.60675e+07,1799,11.2
14,70-74,5.29616e+06,867,16.4,6.18689e+06,449,7.3,1.1483e+07,1316,11.5
15,75-79,3.61091e+06,655,18.1,4.51293e+06,414,9.2,8.12383e+06,1069,13.2
16,80-84,2.41266e+06,537,22.3,3.38668e+06,378,11.2,5.79934e+06,916,15.8
17,85+,2.1743e+06,594,27.3,4.11286e+06,471,11.5,6.28716e+06,1065,16.9
18,Total,1.58229e+08,24899,15.7,1.6319e+08,10166,6.2,3.21419e+08,35092,10.9

In [115]:
# df2 = pd.DataFrame(columns=df.keys())
# print df2
# df2["Age"][0] = 5
df2 = df.copy()

# df['Age'][2] = '13-15'
# for key in df.keys():
#     print key
pop1 = 0
pop2 = 0
for index, row in df[1:].iterrows():
    if (index < 5):
        for key in df.keys():
            if key == "Age":
                df2[key][index] = df[key][index*2-1] + " " + df[key][index*2]
            if df[key][0] == "Population" or df[key][0] == "Deaths":
                df2[key][index] = df[key][index*2-1] + df[key][index*2]
            if df[key][0] == "Rate":
                pop1 = df[key[:-2]][index*2-1]
                pop2 = df[key[:-2]][index*2]
                df2[key][index] = (df[key][index*2-1] * pop1 + df[key][index*2] * pop2 ) / (pop1 + pop2)
df2.head()

,Age,Male,Male.1,Male.2,Female,Female.1,Female.2,Total,Total.1,Total.2
0,NaN,Population,Deaths,Rate,Population,Deaths,Rate,Population,Deaths,Rate
1,<13 13-15,3.33301e+07,770,2.28355,3.19364e+07,557,1.73431,6.52665e+07,1329,2.04937
2,16-19 20-24,2.02927e+07,4633,22.8023,1.93057e+07,1895,9.78674,3.95985e+07,6529,16.499
3,25-29 30-34,2.22991e+07,4693,21.0629,2.18381e+07,1586,7.30244,4.41372e+07,6281,14.2267
4,35-39 40-44,2.02036e+07,3443,17.0539,2.03862e+07,1208,5.90016,4.05898e+07,4652,11.4514

In [ ]:
totalPopulation = int(df['Total'][18])

In [5]:
def build_dict(df):
    dict = {}
    for i in range(1,len(df)):
        dict[df['Age'][i]] = {}
    for i in range(1,19):
        dict[df['Age'][i]]['Male'] = {}
        dict[df['Age'][i]]['Female'] = {}
        dict[df['Age'][i]]['Total'] = {}
    for i in range(1,19):
        dict[df['Age'][i]]['Male']['Deaths'] = int(df['Male.1'][i])
        dict[df['Age'][i]]['Male']['Rate'] = float(df['Male.2'][i])
        dict[df['Age'][i]]['Female']['Deaths'] = int(df['Female.1'][i])
        dict[df['Age'][i]]['Female']['Rate'] = float(df['Female.2'][i])
        dict[df['Age'][i]]['Total']['Deaths'] = int(df['Total.1'][i])
        dict[df['Age'][i]]['Total']['Rate'] = float(df['Total.2'][i])
    return dict

In [6]:
dict = build_dict(df)

In [7]:
# Verifying Deaths
print dict['<13']['Male']['Deaths']==520, dict['55-59']['Male']['Deaths']==1960, dict['Total']['Male']['Deaths']==24899
print dict['<13']['Female']['Deaths']==417, dict['55-59']['Female']['Deaths']==677, dict['Total']['Female']['Deaths']==10166
print dict['<13']['Total']['Deaths']==938, dict['55-59']['Total']['Deaths']==2638, dict['Total']['Total']['Deaths']==35092

# Verifying Rates
print dict['<13']['Male']['Rate']==1.9, dict['55-59']['Male']['Rate']==18.5, dict['Total']['Male']['Rate']==15.7
print dict['<13']['Female']['Rate']==1.6, dict['55-59']['Female']['Rate']==6.0, dict['Total']['Female']['Rate']==6.2
print dict['<13']['Total']['Rate']==1.8, dict['55-59']['Total']['Rate']==12.1, dict['Total']['Total']['Rate']==10.9

True True True
True True True
True True True
True True True
True True True
True True True

In [8]:
# We can copy the resulting JSON object directly into Javascript
dict

{'13-15': {'Female': {'Deaths': 140, 'Rate': 2.3},
  'Male': {'Deaths': 250, 'Rate': 3.9},
  'Total': {'Deaths': 391, 'Rate': 3.1}},
 '16-19': {'Female': {'Deaths': 786, 'Rate': 9.5},
  'Male': {'Deaths': 1538, 'Rate': 17.8},
  'Total': {'Deaths': 2324, 'Rate': 13.8}},
 '20-24': {'Female': {'Deaths': 1109, 'Rate': 10.0},
  'Male': {'Deaths': 3095, 'Rate': 26.5},
  'Total': {'Deaths': 4205, 'Rate': 18.5}},
 '25-29': {'Female': {'Deaths': 824, 'Rate': 7.5},
  'Male': {'Deaths': 2702, 'Rate': 23.7},
  'Total': {'Deaths': 3527, 'Rate': 15.7}},
 '30-34': {'Female': {'Deaths': 762, 'Rate': 7.1},
  'Male': {'Deaths': 1991, 'Rate': 18.3},
  'Total': {'Deaths': 2754, 'Rate': 12.7}},
 '35-39': {'Female': {'Deaths': 625, 'Rate': 6.1},
  'Male': {'Deaths': 1789, 'Rate': 17.6},
  'Total': {'Deaths': 2414, 'Rate': 11.8}},
 '40-44': {'Female': {'Deaths': 583, 'Rate': 5.7},
  'Male': {'Deaths': 1654, 'Rate': 16.5},
  'Total': {'Deaths': 2238, 'Rate': 11.1}},
 '45-49': {'Female': {'Deaths': 634, 'Rate': 6.0},
  'Male': {'Deaths': 1722, 'Rate': 16.7},
  'Total': {'Deaths': 2356, 'Rate': 11.3}},
 '50-54': {'Female': {'Deaths': 780, 'Rate': 6.9},
  'Male': {'Deaths': 2119, 'Rate': 19.3},
  'Total': {'Deaths': 2900, 'Rate': 13.0}},
 '55-59': {'Female': {'Deaths': 677, 'Rate': 6.0},
  'Male': {'Deaths': 1960, 'Rate': 18.5},
  'Total': {'Deaths': 2638, 'Rate': 12.1}},
 '60-64': {'Female': {'Deaths': 555, 'Rate': 5.6},
  'Male': {'Deaths': 1592, 'Rate': 17.5},
  'Total': {'Deaths': 2149, 'Rate': 11.3}},
 '65-69': {'Female': {'Deaths': 546, 'Rate': 6.4},
  'Male': {'Deaths': 1252, 'Rate': 16.5},
  'Total': {'Deaths': 1799, 'Rate': 11.2}},
 '70-74': {'Female': {'Deaths': 449, 'Rate': 7.3},
  'Male': {'Deaths': 867, 'Rate': 16.4},
  'Total': {'Deaths': 1316, 'Rate': 11.5}},
 '75-79': {'Female': {'Deaths': 414, 'Rate': 9.2},
  'Male': {'Deaths': 655, 'Rate': 18.1},
  'Total': {'Deaths': 1069, 'Rate': 13.2}},
 '80-84': {'Female': {'Deaths': 378, 'Rate': 11.2},
  'Male': {'Deaths': 537, 'Rate': 22.3},
  'Total': {'Deaths': 916, 'Rate': 15.8}},
 '85+': {'Female': {'Deaths': 471, 'Rate': 11.5},
  'Male': {'Deaths': 594, 'Rate': 27.3},
  'Total': {'Deaths': 1065, 'Rate': 16.9}},
 '<13': {'Female': {'Deaths': 417, 'Rate': 1.6},
  'Male': {'Deaths': 520, 'Rate': 1.9},
  'Total': {'Deaths': 938, 'Rate': 1.8}},
 'Total': {'Female': {'Deaths': 10166, 'Rate': 6.2},
  'Male': {'Deaths': 24899, 'Rate': 15.7},
  'Total': {'Deaths': 35092, 'Rate': 10.9}}}

In [9]:
# Along with the Total Population
totalPopulation

321418820